{% extends 'base.html' %}

{% block title %} | UC {% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<section class="py-5 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-4">Status</h1>
        <p class="lead text-muted p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc blandit ante scelerisque augue consectetur iaculis.</p>
        </div>
    </div>
</section>
<div class="container p-5 radius-2">
    {% include 'partials/_alerts.html' %}
    <form action="{% url 'univercoin:check_univercoin' %}" method="POST">
        {% csrf_token %}
        <h1 class="text-black">register state :</h1>
        <h2 class="text-black"><small>{{ registered }}</small></h2>
        <input type="hidden" name="registered" value="true">
        <input type="hidden" name="etherAccount" value="{{ user.ethereum_account }}">
        <input type="submit" value="check if you are registered or not !" class="btn btn-primary">
    </form>
    <h3 class="text-black p-5">registered yet ? <p><small><u>Try to register simply by filling a form !</u></small></p></h3>
    <form action="{% url 'univercoin:check_univercoin' %}" method="POST">
        <div class="form-row">
            {% csrf_token %}
            <div class="col-md-4">
                <label class="sr-only">type</label>
                <select name="type_name" class="form-control">
                    <option selected="true" disabled="disabled">Type (All)</option>
                    <option value="student">Student</option>
                    <option value="professor">Professor</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="sr-only">grade</label>
                <select name="grade" class="form-control">
                    <option selected="true" disabled="disabled">Grade (All)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <input type="hidden" name="etherAccount" value="{{ user.ethereum_account }}">
            <button type="submit" class="col-md-4 btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% else %}

<div class="container p-5">
    <div class="row p-5">
        <div class="col-md-6 mx-auto">
            <div class="text-black">
                <h1 class="text-center">Please, Login to see your UC info.</h1>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}