{% extends 'base.html' %}

{% load static %}

{% block title %} | Index {% endblock %}

{% block content %}

<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="{% static 'images/cover.png' %}" alt="The Hotel" style="min-width:1000px" width="1500"
    height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container background">
      <h1 class="">Ether</h1>
      <p class="lead"> Search many things by category.</p>
    </div>
    <div class="w3-container background w3-padding-16">
      <form action="{% url 'pages:index' %}" method="POST">
        {% csrf_token %}
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label> Category</label>
            <input class="form-control" type="text" placeholder="NAME" name="category" required="">
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i>
          Search</button>
      </form>
    </div>
  </div>
</header>

{% endblock %}