{% extends 'base.html' %}

{% block title %} | reset password {% endblock %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:orders" %}';
</script>
{% endif %}

<section id="edit" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'accounts:password_reset' %}">
                            {% csrf_token %}
                            <p>Enter your email address to reset your password.</p>
                            {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the
                                        following:</p>
                                    <ul>
                                        {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label>{{ form.email.label }}<span class="text-muted small"></label>
                                {{ form.email }}
                            </div>
                            <button type="submit" value="Reset" class="btn btn-secondary btn-block">Send email</button>
                            <p class="text-center pt-3"><a href="{% url 'accounts:login' %}"><u>Login</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}