{% extends 'base.html' %}

{% block title %} | password reset success {% endblock %}

{% load static %}

{% block content %}

<div class="container p-5">
    <div class="row p-5">
        <div class="col-md-6 mx-auto">
            <div class="text-black">
            {%if 'email' in request.get_full_path %}
                <h1 class="text-center">Password Reset Successfully</h1>
                <h4 class="text-center p-3">Please, check your email</h4>
            {% endif %}
            {% if 'complete' in request.get_full_path %}
                <h1 class="text-center">Password Reset Successfully</h1>
                <h4 class="text-center p-3"><a href="{% url 'accounts:login' %}">Login</a></h4>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
