{% extends 'base.html' %}

{% block title %} | ether {% endblock %}

{% load static %}

{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="display-4">Orders</h1>
      <p class="lead text-muted p-2">Check usage of coins.</p>
    </div>
  </div>
</section>

<section id="orders" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome <a href="{% url 'accounts:account' %}">{{ user.username }}</a></h2>
        <p>Here is the order history that you've bought.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              {% for item in order.items.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></td>
                  <td>{{ item.product.regular_price }} UC</td>
                  <td>{{ order.created }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}