{% extends 'base.html' %}

{% block title %} | ether {% endblock %}

{% load static %}

{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="display-4">Dashboard</h1>
      <p class="lead text-muted p-2">Check usage of coins.</p>
    </div>
  </div>
    <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'pages:index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Dashboard</li>
        <ul class="navbar-nav ml-auto">
          <li>
            <a href="{% url 'accounts:edit_info' %}"> Change Info</a>
          </li>
        </ul>
      </ol>
    </nav>
  </div>
</section>

<section id="dashboard" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.username }} <a style="float:right;"> coins : {{ coin }}</a></h2>
        <p>Here is the order history that you've bought.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              {% for item in order.items.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></td>
                  <td>{{ item.product.price }} UC</td>
                  <td>{{ order.created }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}