{% extends 'base.html' %}

{% block title %} | edit {% endblock %}

{% load static %}

{% block content %}

<section id="edit" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h4>Edit Info</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if edit_form.is_valid %}
                            <div class="alert alert-primary" rol="alert">
                                Your info is updated.
                            </div>
                            <p class="small text-center">
                                <a href="{% url 'accounts:dashboard' %}"> Back to dashboard </a>
                            </p>
                            {% else %}
                            <h3>Change your info</h3>
                            {% endif %}
                            {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the
                                        following:</p>
                                    <ul>
                                        {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label>{{ edit_form.email.label }}<span class="text-muted small"></label>
                                {{ edit_form.email }}
                            </div>
                            <div class="form-group">
                                <label>{{ edit_form.first_name.label }}<span class="text-muted small">
                                    </span></label>
                                {{ edit_form.first_name }}
                            </div>
                            <button type="submit" value="Edit" class="btn btn-secondary btn-block">Save Changes</button>
                        </form>
                        <form class="p-3 px-4" action="{% url "accounts:delete" %}" method="post">
                            {% csrf_token %}
                            <p class="h3 pt-3">Delete Account</p>
                            <p class="">Please, push the button below if you want to delete your current account.</p>
                            <button type="submit" class="btn btn-danger btn-block mb-4 mt-5">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}