{% extends 'base.html' %}

{% block title %} | password reset confirm {% endblock %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:dashboard" %}';
</script>
{% endif %}

<section id="edit" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h4>Password Reset Confirm</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            <p><b>Type your new password.</b></p>
                            {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the
                                        following:</p>
                                    <ul>
                                        {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% csrf_token %}
                            <label>{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                            <label>{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                            <input type="submit" value="Change my password">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}